@model RogueFinancialPortal.Models.Invitation

@{
    ViewBag.Title = "Send Invitation";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IsValid);
    @Html.HiddenFor(model => model.Created);
    @Html.HiddenFor(model => model.HouseHoldId);
    @Html.HiddenFor(model => model.OwnerId);
    @Html.HiddenFor(model => model.TTL);

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card card-body m-t-20">
                <h3 class="box-title m-b-10">Send Invitation</h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.RecipientEmail, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.RecipientEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RecipientEmail, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-info  btn-block waves-effect waves-light">Send</button>

                        </div>
                        <div class="col-4">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-Warning  btn-block waves-effect waves-light">Cancel</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
