
@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicon/zanis-logo.png">

    <!-- Bootstrap Core CSS -->

    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/colors/blue-dark.css" rel="stylesheet" />
    <link href="~/Content/css/steps.css" rel="stylesheet" />
    <link href="~/Content/css/dropify.min.css" rel="stylesheet" />
    <link href="~/Content/css/Chart.min.css" rel="stylesheet" />
</head>


<body class="fix-header fix-sidebar card-no-border">

    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light navbar-fixed-top">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <a href="@Url.Action("Index", "Home" )"><img src="~/Content/favicon/zanis-logo@2x.png" alt="homepage" class="light-logo" /></a>
                    </a>
                </div>
                @Html.Partial("_LoginPartial")
            </nav>
        </header>
        @Html.Partial("_SideBar")

        <!-- Main page-->

        <div class="page-wrapper">
            @RenderBody()
            <hr />
            <footer>
                <a href="https://tz-coderfoundry-portfolio.netlify.app/" class="nav-link text-left" target="_blank">Portfolio </a>
            </footer>
        </div>
    </div>
    @*@Scripts.Render("~/Scripts")*@
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/chat.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/CustomForm-Addon.js"></script>
    <script src="~/Scripts/dropify.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/sticky-kit.min.js"></script>
    <script src="~/Scripts/TableCustom.js"></script>
    <script src="~/Scripts/waves.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.steps.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    @*<script src="~/Scripts/steps.js"></script>*@
    <script src="https://cdn.syncfusion.com/18.2.0.44/js/web/ej.web.all.min.js"></script>


    @RenderSection("scripts", required: false)
</body>

</html>
