

@using Microsoft.AspNet.Identity
@using RogueFinancialPortal.Helpers;
@using RogueFinancialPortal.Extensions;
@{ var userHelper = new UserHelper(); }
@{ var roleHelper = new UserRoleHelper();
  
}

@if (Request.IsAuthenticated)
{
    var user = userHelper.getUser(User.Identity.GetUserId());
    <aside class="left-sidebar">
        @*Sidebar scroll*@
        <div class="scroll-sidebar">
            @*User profile*@
            <div class="user-profile">
                @*User profile image*@
                <div class="profile-img">
                    <img src="@user.AvatarPath" alt="user" />
                    @*this is blinking heartbit*@
                    <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
                </div>
                @*User profile text*@
                <div class="profile-text">
                    <h3>@user.FullName</h3>
                    <h4>@roleHelper.ListUserRoles(user.Id).FirstOrDefault().ToString()</h4>
                    @*<a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                        <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>*@
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>}
                </div>
            </div>
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Projecs</li>
                    @*<li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-folder-multiple-outline"></i><span class="hide-menu">Projects</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Projects")"><i class="mdi mdi-book-open-page-variant"> Manage Projects</i></a>
                            </li>
                            @if (projectHelper.CanCreateProject())
                            {
                                <li>
                                    <a href="@Url.Action("ProjectWizard", "Projects")"><i class="mdi mdi-folder-plus"> Create New Project</i></a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu">User Managment</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("ViewAllUsers", "UserManagment")"><i class="mdi mdi-account-multiple"> All Users</i></a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="@Url.Action("CreateNewUser", "Account")"><i class="mdi mdi-account-plus"> Add New User</i></a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("Index", "UserManagment")"><i class="mdi mdi-account-multiple"> Manage Users</i></a>

                                </li>
                                <li>
                                    <a href="@Url.Action("ManageRoleUsers", "UserManagment")"><i class="mdi mdi-account-multiple"> Manage User Roles</i></a>

                                </li>
                            }

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-ticket"></i><span class="hide-menu">Ticket Managment</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Tickets")"><i class="mdi mdi-ticket-confirmation"> Manage Tickets</i></a>
                            </li>
                            @if (ticketHelper.CanCreateTicket())
                            {
                                <li>
                                    <a href="@Url.Action("Create", "Tickets")"><i class="mdi mdi-ticket-account"> Create New Ticket</i></a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("Index", "Tickets")"><i class="mdi mdi-ticket-confirmation"> View Comments</i></a>
                            </li>

                        </ul>
                    </li>*@

                    @*<li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Inbox</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="app-email.html">
                                        Mailbox
                                    </a>
                                </li>
                                <li>
                                    <a href="app-email-detail.html">
                                        Mailbox Detail
                                    </a>
                                </li>
                                <li><a href="app-compose.html"> Compose Mail</a></li>
                            </ul>
                        </li>*@
                </ul>
            </nav>
            @*End Sidebar navigation*@
        </div>
        @*End Sidebar scroll*@
    </aside>
}
